<header style="display:flex;justify-content:space-between;align-items:center;">
    <h2 style="margin:0;">Gestion des intentions</h2>
    <button style="background:#c69200;border:none;
    padding:10px 16px;border-radius:8px;color:white;cursor:pointer;">
        Ajouter un message
    </button>

</header>
<div style="background-color: white; padding: 50px; display: flex; justify-content: center; font-family: sans-serif;">

    <div
        style="background-color:  #f0f7ff; border-radius: 15px; box-shadow: 0 10px 25px rgba(0,0,0,0.05); width: 100%; max-width: 900px; padding: 25px; position: relative; min-height: 450px;">

        <table style="width: 100%; border-collapse: collapse; text-align: left;">
            <thead>
                <tr style="background-color:white;">
                    <th style="padding: 15px; border-bottom: 1px solid #eee; color: #333; border-radius: 10px 0 0 0;">
                        Date</th>
                    <th style="padding: 15px; border-bottom: 1px solid #eee; color: #333;">Horaire</th>
                    <th style="padding: 15px; border-bottom: 1px solid #eee; color: #333;">Célébrant</th>
                    <th style="padding: 15px; border-bottom: 1px solid #eee; color: #333;">Statut</th>
                    <th style="padding: 15px; border-bottom: 1px solid #eee; color: #333; border-radius: 0 10px 0 0;">
                        Action</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">14 Décembre 2025</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">10h-12H</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">Père Francois</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5;">
                        <span
                            style="background-color: #e3f2fd; color: #1e88e5; padding: 6px 15px; border-radius: 8px; font-weight: bold; font-size: 14px;">A
                            venir</span>
                    </td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; cursor: pointer; font-size: 20px;">
                        📋👁️</td>
                </tr>
                <tr>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">14 Décembre 2025</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">10h-12H</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">Père Francois</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5;">
                        <span
                            style="background-color: #fffde7; color: #afb42b; padding: 6px 15px; border-radius: 8px; font-weight: bold; font-size: 14px;">Passée</span>
                    </td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; cursor: pointer; font-size: 20px;">
                        📋👁️</td>
                </tr>
                <tr>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">14 Décembre 2025</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">10h-12H</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; color: #666;">Père Francois</td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5;">
                        <span
                            style="background-color: #ffebee; color: #e53935; padding: 6px 15px; border-radius: 8px; font-weight: bold; font-size: 14px;">Annulée</span>
                    </td>
                    <td style="padding: 20px 15px; border-bottom: 1px solid #f5f5f5; cursor: pointer; font-size: 20px;">
                        📋👁️</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>