{% macro input_field(name, label, placeholder='', type='text', value='', requit='') %}
<div class="form-group" style="margin-bottom: 20px; text-align: left;">
    <label for="{{ name }}" style="display: block; font-weight: bold; margin-bottom: 8px; font-size: 13px;">
        {{ label }}
    </label>
    <input type="{{ type }}"
           name="{{ name }}"
           id="{{ name }}"
           placeholder="{{ placeholder }}"
           value="{{ value }}"
           {% if requit %}required{% endif %}
           style="width: 400px; padding: 12px; border: 1.5px solid #0596F0; border-radius: 8px; outline: none;">
</div>
{% endmacro %}

{% macro select_field(name, label, options) %}
<div class="form-group" style="margin-bottom: 20px; text-align: left;">
    <label for="{{ name }}" style="display: block; font-weight: bold; margin-bottom: 8px;font-size: 13px;">
        {{ label }}
    </label>
    <select name="{{ name }}" id="{{ name }}"
            style="width: 100%; padding: 12px; border: 1.5px solid #0596F0; border-radius: 8px; background-color: white;font-size: 13px;">
        {% for val, text in options %}
            <option value="{{ val }}">{{ text }}</option>
        {% endfor %}
    </select>
</div>
{% endmacro %}
{% macro bouton_envoi(name) %}
<div class="form-group" >
   <button style="color: white; width: 100%; padding: 12px;font-size: 13px; 
   border: 1.5px solid #0596F0; border-radius: 8px; background-color: rgb(5, 150, 240);"
    type="submit" class="btn-submit">{{ name }}</button>
</div>
{% endmacro %}