<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/logomissaparo.png') }}" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Missa Paro</title>
</head>

<body style="background-color: rgb(231, 249, 255);">


    {% import "pagepart/systeme.html" as f %}
    <div class="form-container" style="align-items: center; justify-content: center;
    display: flex;">
        <div style=" justify-items: center;
        background-color: white; width: 70%; padding-bottom: 30px; 
        border-radius: 15px; margin: 20px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);">
            <h2>Connection à votre espace</h2>
            <p style="color: rgb(5, 150, 240);">Heureux de vous revoir</p>
            <div class="form-content" style="margin-top: 10px;">
                <form action="page/tableau_bords" method="POST">
                    {% for champ in champs %}
                    {% if champ.type == 'select' %}
                    {{ f.select_field(champ.name, champ.label, champ.options) }}
                    {% else %}
                    {{ f.input_field(champ.name, champ.label, champ.placeholder, champ.type, requit=champ.required) }}
                    {% endif %}
                    {% endfor %}
                    {{ f.bouton_envoi("Se connecter") }}
                </form>
                <div style="display: flex; align-items: center; justify-content: center;">
                    <p>Etres vous déjà inscrire ?</p>
                    <a style="margin-left: 50px; color: rgb(194, 152, 0); text-decoration: none;"
                    href="{{ url_for('connect_bp.inscription') }}">Inscription</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>