<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
<link rel="shortcut icon" href="{{ url_for('static', filename='image/logomissaparo.png') }}" type="image/x-icon">    
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
    <title>Document</title>
</head>
<body>
    <h1>bonjour le page de login</h1>
    <button ><a href="{{ url_for('connect_bp.inscription') }}">
        Accéder au compte</a></button>
</body>
</html>